/* Do everything in this file */
h2, h3, h4, h5, h6 {
    border-bottom: 1px solid red;
  }

  img{
    float : right;
    width: 40%;
    margin-right: 20px;
    
  }
  h2 {
    clear: both;
  }
  div{
    float: left;
    width: 40%;
    border: 1px;
    margin-right: 10px;
  }